@import url("http://fonts.cdnfonts.com/css/pokemon-solid");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0%;
  background-color: blanchedalmond;
}

body .clickable {
  cursor: pointer;
}

header {
  text-align: center;
  font-size: 2rem;
}

header h2 {
  -webkit-text-stroke: 2px black;
  color: blanchedalmond;
  margin: 0;
  line-height: 5rem;
  font-family: "Pokemon Solid", sans-serif;
}

header #searchbar {
  border: 2px solid black;
  background-color: blanchedalmond;
  padding: 0rem 0.5rem;
  width: 18rem;
  height: 3rem;
  font-size: 1rem;
  border-radius: 1rem;
  font-family: "Poppins", sans-serif;
}

header #btn {
  padding: 0.8rem;
  font-family: "Poppins", sans-serif;
  background-color: #383838;
  border-radius: 2rem;
  font-size: 1rem;
  border: none;
  color: white;
  margin: 0.5rem;
}

.container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". . ." ". d ." ". . .";
  -ms-grid-columns: 20% 60% 20%;
      grid-template-columns: 20% 60% 20%;
  -ms-grid-rows: 10px 1fr 10px;
      grid-template-rows: 10px 1fr 10px;
}

.container .credentials {
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0rem 0.5rem 0.5rem 0.1rem rgba(158, 157, 157, 0.555);
          box-shadow: 0rem 0.5rem 0.5rem 0.1rem rgba(158, 157, 157, 0.555);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap, 1rem);
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: d;
  -webkit-transition: -webkit-transform 250ms ease-out;
  transition: -webkit-transform 250ms ease-out;
  transition: transform 250ms ease-out;
  transition: transform 250ms ease-out, -webkit-transform 250ms ease-out;
  font-family: "Poppins", sans-serif;
}

.container .credentials .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap, 1rem);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 0.8rem;
  -ms-flex-item-align: center;
      align-self: center;
}

.container .credentials .text h2 {
  font-weight: 300;
  margin-bottom: 0rem;
  text-align: right;
}

.container .credentials .text h3 {
  text-align: right;
  font-size: 1rem;
  -ms-grid-column-align: center;
      justify-self: center;
  font-weight: 300;
  margin-top: 0rem;
}

.container .credentials:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

@media (max-width: 50em) {
  .container {
    -ms-grid-columns: 5% 90% 5%;
        grid-template-columns: 5% 90% 5%;
  }
}

.pokeContainer {
  z-index: 2;
  font-family: "Poppins", sans-serif;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap, 1rem);
  inset: 0 0 40% 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: min(5vh,20rem) 1em;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 0rem 2rem 2rem;
  -webkit-box-shadow: 0rem 0.5rem 0.5rem 0.1rem rgba(158, 157, 157, 0.555);
          box-shadow: 0rem 0.5rem 0.5rem 0.1rem rgba(158, 157, 157, 0.555);
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  -webkit-transition: -webkit-transform 350ms ease-out;
  transition: -webkit-transform 350ms ease-out;
  transition: transform 350ms ease-out;
  transition: transform 350ms ease-out, -webkit-transform 350ms ease-out;
}

.pokeContainer button {
  z-index: 3;
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background-color: transparent;
  border-radius: 2rem;
  background-position: center;
  background-repeat: no-repeat;
}

.pokeContainer button:hover {
  background-color: rgba(180, 178, 178, 0.397);
}

.pokeContainer .nameContainer img {
  width: 80%;
}

.pokeContainer .nameContainer h1 {
  margin: 0%;
  font-weight: 400;
}

.pokeContainer .nameContainer h2 {
  font-weight: 300;
}

.pokeContainer .bstatsContainer {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pokeContainer .bstatsContainer h1 {
  font-weight: 400;
  margin: 0%;
}

.pokeContainer .bstatsContainer .Stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap, 1rem);
}

.pokeContainer .bstatsContainer .Stats .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap, 1rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.pokeContainer .bstatsContainer .Stats .stats .progressContain {
  --gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap, 1rem);
}

.pokeContainer .bstatsContainer .Stats .stats h1 {
  margin: 0%;
}

.pokeContainer .bstatsContainer .Stats .stats h2 {
  font-weight: 300;
}

.pokeContainer .bstatsContainer .Stats .stats progress {
  color: yellow;
  background-color: yellowgreen;
  border: 2px solid black;
  border-radius: 2rem;
}

.pokeContainer .bstatsContainer .Stats .stats progress::-webkit-progress-bar {
  color: yellow;
  background-color: black;
  border-radius: 2rem;
}

.pokeContainer .bstatsContainer .Stats .stats progress::-webkit-progress-value {
  color: yellow;
  border-radius: 2rem;
}

.pokeContainer .bstatsContainer .Stats .stats progress::-moz-progress-bar {
  color: yellow;
  background-color: yellowgreen;
  border-radius: 2rem;
}

.pokeContainer[data-isVisible="true"] {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media (max-width: 55em) {
  .pokeContainer {
    overflow: scroll;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    inset: 0 0 0 30%;
    padding: min(5vh,20rem) 1em;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 0;
    -webkit-box-shadow: 0rem 0.5rem 0.5rem 0.1rem rgba(158, 157, 157, 0.555);
            box-shadow: 0rem 0.5rem 0.5rem 0.1rem rgba(158, 157, 157, 0.555);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    --gap: 0.3rem;
  }
  .pokeContainer .nameContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: var(--gap, 1rem);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pokeContainer .nameContainer img {
    width: 80%;
  }
  .pokeContainer .nameContainer h1 {
    margin: 0%;
    font-weight: 400;
    font-size: 1.3rem;
  }
  .pokeContainer .nameContainer h2 {
    margin: 0%;
    font-size: 1rem;
    font-weight: 300;
  }
  .pokeContainer .bstatsContainer {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .pokeContainer .bstatsContainer h1 {
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    margin: 0%;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .pokeContainer .bstatsContainer .Stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    --gap: 0rem;
  }
  .pokeContainer .bstatsContainer .Stats .stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    --gap: 0rem;
  }
  .pokeContainer .bstatsContainer .Stats .stats .progressContain {
    --gap: 0.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: var(--gap, 1rem);
  }
  .pokeContainer .bstatsContainer .Stats .stats .progressContain h1 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    font-size: 1.3rem;
    margin: 0%;
  }
  .pokeContainer .bstatsContainer .Stats .stats .progressContain h2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 1.2rem;
    margin: 0%;
    font-weight: 300;
  }
  .pokeContainer .bstatsContainer .Stats .stats .progressContain progress {
    margin: 0;
  }
  .pokeContainer[data-isVisible="true"] {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@media (max-width: 21em) {
  .container .text h2 {
    font-size: 1.3rem;
  }
  .container .text h3 {
    font-size: 1.1rem;
  }
}

.spinner-wrapper1,
.spinner-wrapper {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap, 1rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spinner-wrapper1 .lds-grid,
.spinner-wrapper .lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.spinner-wrapper1 .lds-grid div,
.spinner-wrapper .lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #cabba5;
  -webkit-animation: lds-grid 1.2s linear infinite;
          animation: lds-grid 1.2s linear infinite;
}

.spinner-wrapper1 .lds-grid div:nth-child(1),
.spinner-wrapper .lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.spinner-wrapper1 .lds-grid div:nth-child(2),
.spinner-wrapper .lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.spinner-wrapper1 .lds-grid div:nth-child(3),
.spinner-wrapper .lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.spinner-wrapper1 .lds-grid div:nth-child(4),
.spinner-wrapper .lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.spinner-wrapper1 .lds-grid div:nth-child(5),
.spinner-wrapper .lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.spinner-wrapper1 .lds-grid div:nth-child(6),
.spinner-wrapper .lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}

.spinner-wrapper1 .lds-grid div:nth-child(7),
.spinner-wrapper .lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.spinner-wrapper1 .lds-grid div:nth-child(8),
.spinner-wrapper .lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}

.spinner-wrapper1 .lds-grid div:nth-child(9),
.spinner-wrapper .lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
}

@-webkit-keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.spinner-wrapper1 {
  z-index: 1;
}
/*# sourceMappingURL=main.css.map */